doctype html
head
  title Kube Demo
  <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPUlEQVQ4T2NkoBAwUqifAWFAy///JBlWwwjWO1gNgDoPw0vI3sTrhVEDGBgoDgNiUtQgTEjEOBuLGopzIwAJeTYR6bAnHgAAAABJRU5ErkJggg==">
  style.
    html{
      font-size: 16px;
    }
    body {
      width: 30em;
      margin: 1em auto;
      font-family: sans-serif;
      font-size: 1em;
    }
    h3 {
      margin-bottom: 0.1em;
      font-size: 1em;
    }
    a {
      display: inline-block;
      margin-left: 0.5em;
    }
    footer {
      margin-top: 2em;
      font-size: 0.8em;
    }
body
  h2 Session persistence for multiple pods
  div
    h3 Session ID
    span #{session}
  div
    h3 Variable on Redis
    span #{increment}
    a(href='?increment') increment
    a(href='?reset') reset
  div
    h3 Serving Pod IP
    span #{ip}
    a(href='/') refresh
  footer Use incognito (ctrl+shift+n) for a different session
